@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0505057e !important;
    background-image: url(/media/img/17.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none !important;
    color: white!important;
}
a:hover{
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    text-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    background-color: rgba(5, 112, 112, 0.534)!important;
}
h2 {
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white !important;
}


.testproj{
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    background-color: rgba(5, 112, 112, 0.534)!important;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.7)!important;
    
}


main {
    padding: 20px;
}

.line {
    position: relative;
    width: 20rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.747);
    overflow: hidden;
    margin: auto;
    margin-bottom: 2rem!important;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 112, 112, 0.534);
    animation: drawLine 2s infinite;
}

@keyframes drawLine {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.dash {
    width: 100%;
    display: grid;
}

/* Icon styles */
.icon {
    margin-left: 5px;
}

.animated-button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 1.5rem;
    background-color: #0505052a;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease,box-shadow 0.3s, border 0.3s;
    margin-bottom: 1rem;
}

/* Hover state */
.animated-button:hover {
    /* transform: scale(1.05); */
    /* animation: glow 2s infinite alternate; */
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    
    background-color: rgba(5, 112, 112, 0.534)!important;
}

.projects-tab a {
    text-decoration: none!important;
    color: white!important;
    transition: text-shadow 0.3s;
}

.projects-tab a:hover{
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    
}
/* tree */


/* Animation for icons */
.tree li{
    text-decoration: none;
    list-style: none;
    
}
.tree-list i {
    animation: icon-animation 1s ease-in-out forwards;
    opacity: 0;
    transform: translateX(-20px);
}

@keyframes icon-animation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}




/* tree end */

.context {
    
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3vw;
    position: absolute;
    padding-top: 5rem;
}



.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

/* Add more circle styles as needed */

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

/* section 1 */
.section-1 {
    padding-top: 17vh;
    
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.1rem;
    padding: 10px;
    color: wheat;
    transition: box-shadow 0.3s, border 0.3s;
}
/* animations / utilities */


.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(5, 112, 112, 0.534)!important;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
}

/* section 2 */
.section-2 {
    padding-top: 17vh;
    padding-bottom: 100px;
}

.section-2 h2 {
    padding-top: 100px;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: auto;
}

.section-2 a {
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    text-decoration: none;
    color: #3498db;
    transition: text-shadow 0.3s;
}






footer {
    width: 100%;
    background-color: #161718;
    padding-top: 10px;
    color: #fff;
    height: 80px;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #0000008e;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.go-to-top i {
    line-height: 40px;
}

.go-to-top:hover {
    background-color: rgba(5, 112, 112, 0.534)!important;
    color: #fff;
    
    animation: glow 5s infinite alternate;
}

.show-go-to-top {
    display: block;
}
/* This is mobile part */
@media (max-width: 768px), (max-width: 480px) {
    *{
        box-shadow: none !important;
        text-shadow: none !important;
        animation: none !important;
    }
    .line{
        width: 5rem !important;
    }
    .tree{
        min-width: 100%!important;
        font-size: 0.75rem!important;
        padding: .5rem!important;
    }
    .animated-button{
        box-shadow: none !important;
    }
    .about-top{
        margin-top: 1.8rem !important;
    }
    .about-left {
        text-align: center !important;
    }
    body {
        width: 100%;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .section-1 {
        padding: 0 !important;
        padding-top: 5rem !important;
    }
    .section-2 {
        padding: 0 !important;
        padding-left: 1.5rem !important;
        padding-top: 2rem !important;
    }
    .gallery-text {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1rem !important;
    }
    .dash {
        width: 50% !important;
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0.6rem !important;
    }
    .grid-container {
        grid-template-columns: repeat(1, 0.7fr)!important;
        font-size: 0.6rem!important;
        
        
    }
    .grid-item{
        max-height: 40vh!important;
        min-width:40vh!important;

    }
    footer {
        display: grid;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        min-height: 85px !important;
    }
    .context {
        font-size: 5vw;
        margin-top: 30rem;
        text-shadow: none!important;
    }
    .nav-container {
        font-size: 3vw;
        background-color:#032e38!important ;
        color:white!important;
        width: 100%;
    }
    .navbar-brand{
        font-size: 0.75rem!important;
    }
   
    .gallery-container{
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center;
        grid-gap: 1rem !important;
        width: 100% !important;
    }
    .gallery-item img {
        padding: 2rem !important;
        justify-content: center;
        max-width: 25rem !important;
        max-height: 15rem !important;
    }
    #projectTypesContainer{
        display: flex;
        width: 100%;
        
    }
}

/* Mobile part end */

/* This is the special animation on first page */
.area{
    /* s */
    /* background: -webkit-linear-gradient(to left, #008cff, #fd03aa);   */
    width: 100%;
    height:100%;
    margin: 0;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.76);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
        box-shadow: 0 0 20px rgba(0, 255, 21, 0.7);
    }
    25% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.7); /* Start glowing */
    }
    50% {
        /* Start glowing */
        box-shadow: 0 0 25px rgba(255, 208, 0, 0.9);
    }
    75% {
         /* Start glowing */
        box-shadow: 0 0 20px rgba(119, 0, 255, 0.9);
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(212, 0, 255, 0.9);
    }

}


